/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navigation {
  width: 100%;
}
.navigation .nav-list {
  display: flex;
  justify-content: space-around;
}
.navigation .nav-list .nav-item {
  list-style-type: none;
  padding: 15px 0;
}
.navigation .nav-list .nav-item .nav-item-link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
.navigation .nav-list .nav-item .nav-item-link .nav-icon {
  font-size: 14px;
}
.navigation .nav-list .nav-item .nav-item-link:hover {
  border-bottom: 2px solid crimson;
  -webkit-animation: circle 1.5s ease-in forwards;
}

main {
  background-color: #264653;
}

.main-hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 42px;
}
.main-hero-container .main-hero__text-container {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 40px;
}
.main-hero-container .main-hero__text-container .main-hero__pretitle {
  font-size: 58px;
  padding-bottom: 20px;
}
.main-hero-container .main-hero__text-container .main-hero__title {
  font-size: 84px;
  font-weight: 600;
  color: #e76f51;
  line-height: 80px;
}
.main-hero-container .main-hero__text-container .main-hero__title span {
  color: white;
  padding-right: 20px;
}
.main-hero-container .main-hero__text-container .main-hero__subtitle {
  font-size: 54px;
}
.main-hero-container .main-hero__text-container .main-hero-description {
  font-size: 18px;
  text-align: center;
}
.main-hero-container .main-hero__image {
  padding-left: 45px;
}

.about-me__container {
  background-color: #f4a261;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 60px;
}
.about-me__container .about-me__title {
  padding-bottom: 20px;
  font-size: 40px;
}
.about-me__container .about-me__text-container {
  font-size: 20px;
  padding: 190px;
}
.about-me__container .about-me__text-container .about-me__description-container p {
  font-size: 20px;
  line-height: 31px;
}

.portfolio__container {
  background-color: #e9c46a;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 100%;
  padding: 60px;
  align-items: center;
}
.portfolio__container .portfolio__header {
  color: white;
  font-size: 40px;
  padding-bottom: 15px;
}
.portfolio__container .portfolio__container-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 0 60px;
}
.portfolio__container .portfolio__card {
  width: 400px;
  background-color: white;
  border-radius: 4px;
  height: 400px;
  box-shadow: 2px 2px 26px #2a9d8f;
}
.portfolio__container .portfolio__card .portfolio__image-container .portfolio__image {
  width: 100%;
  height: 300px;
}