.main-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid;

    .main-header-text {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .main-header-title {
            font-size: 72px;
            margin: 0 auto;
            font-weight: 600;
            color: crimson;
        }
    
        .main-header-subtitle {
            margin: 0 auto;
            font-size: 40px;
        }

        .main-header-description {
            margin: 0 auto;
            font-size: 18px;
            padding: 20px 200px;
            text-align: center;
        }
    }



    .image-container {
        display: flex;
        justify-content: center;
        background-color: crimson;
        width: 450px;
        height: 335px;
        // margin: 25px 0;
    }

    img.header-image {
        width: 225px;
        height: 300px;
    }
}